#page-login-forgot_password{
  #page-content{
    .box.generalbox.boxwidthnormal.boxaligncenter.py-3{
      border-radius: 5px;
      padding: 2rem;
      font-size: 1.1em;
      background-color: #eee;
      border-color: #e1e4e7;
      box-shadow: 7px 7px 10px #999;
      filter: shadow(color=#999999, direction=135, strength=3);
      margin: auto;
      width: 70%;
    }


    #mform1{
      border-radius: 5px;
      padding: 10px;
      font-size: 1.1em;
      background-color: #eee;
      border-color: #e1e4e7;
      box-shadow: 10px 10px 15px #999;
      filter: shadow(color=#999999, direction=135, strength=5);
      margin: 1% auto auto auto;
      width: 70%;
      #id_searchbyusername{
        padding: 0% !important;
        .ftoggler{
          margin: 0 !important;
          text-align: center !important;
        }
        .col-form-label.d-inline{
          display: none !important;
        }
        
        .fcontainer.clearfix{
          .form-group.row.fitem{
            padding: 0% !important;
            text-align: center;
            .col-md-3{
              display: none !important;
            }
            .col-md-9.form-inline.felement{
              margin: auto !important;
              input{
                width: 50% !important;
                margin: auto !important;
              }
            }
          }
          .form-group.row.fitem.femptylabel{
            padding: 0% !important;
            text-align: center;
            .col-md-3{
              display: none !important;
            }
            .col-md-9.form-inline.felement{
              margin: auto !important;
              input{
                background-color: #cd1f32 !important;
                color: #fff !important;
                width: 30% !important;
                margin: auto !important;
              }
            }
          }
        }
      }
    }



    #id_searchbyemail{
      display: none;
    }
  }
}


@media(max-width:800px){
  #page-login-forgot_password{
    #page-content{
      .card-body{
        padding: 0;
        .box.generalbox.boxwidthnormal.boxaligncenter.py-3{
          margin: auto;
          width: 90%;
        }
      }
    }
  }
  #mform1{
    width: 90% !important;
  }
}

@media(max-width:600px){
  #page-login-forgot_password{
    #page-content{
      .card-body{
        padding: 0;
        .box.generalbox.boxwidthnormal.boxaligncenter.py-3{
          width: 100% !important;
        }
      }
    }
  }

  #mform1{
    width: 100% !important;
  }
}
